<div class="login-wrapper container" style="background: #f0f2f5;">

    <mat-card class="box-2">
      <mat-card-header>
        <mat-card-title  color="primary">Log in</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
              Username is required
            </mat-error> 
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matPrefix>lock</mat-icon>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" [disabled]="!loginForm.valid" type="submit">Log in</button>
      </form>
    </mat-card>
  
  </div>